<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <%= image_tag product.image %>
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder">
          <%= link_to product.name, product_path(product), class: "link-dark" %>
        </h5>
        <!-- Product price-->
        <%= convert_to_jpy(product.price) %>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <%= link_to "カートに入れる", cart_path(session[:cart_id]), class: "btn btn-outline-dark mt-auto" %>
      </div>
    </div>
  </div>
</div>
